{{#link-to "editor.new" "post" data-test-mobile-nav="new-post"}}{{svg-jar "pen"}}写文章{{/link-to}}
{{#if (eq router.currentRouteName "posts")}}
    {{#link-to "posts" (query-params type=null) classNames="active" data-test-mobile-nav="posts"}}{{svg-jar "content"}}文章{{/link-to}}
{{else}}
    {{#link-to "posts"}}{{svg-jar "content" data-test-mobile-nav="posts"}}文章{{/link-to}}
{{/if}}
{{#link-to "staff" classNames="gh-nav-main-users" data-test-mobile-nav="staff"}}{{svg-jar "account-group"}}成员{{/link-to}}
<div class="gh-mobile-nav-bar-more" {{action "openMobileMenu" target=ui data-test-mobile-nav="more"}}>{{svg-jar "icon" class="icon-gh"}}更多</div>
{{yield}}
