{{#link-to "editor.edit" this.post.routeName this.post.id class="permalink gh-list-data gh-post-list-featured" title="编辑此文章"}}
    {{#if this.isFeatured}}
        <span data-tooltip="Featured" class="dib pl1 pr1 nr1 nl1">{{svg-jar "star-filled" class="fill-blue w3 h3"}}</span>
    {{/if}}
{{/link-to}}

{{#link-to "editor.edit" this.post.routeName this.post.id class="permalink gh-list-data gh-post-list-title" title="编辑此文章"}}
    <h3 class="gh-content-entry-title">
        {{this.post.title}}
    </h3>
    {{#if isScheduled}}
        <p>
            <span class="gh-schedule-time">将于 {{gh-format-post-time this.post.publishedAtUTC scheduled=true}} 上线</span>
            <span class="gh-schedule-subtext">&dash; {{this.subText}}</span>
        </p>
    {{else}}
        <p>
            {{this.subText}}
        </p>
    {{/if}}
{{/link-to}}

{{#link-to "editor.edit" this.post.routeName this.post.id class="permalink gh-list-data gh-post-list-status" title="编辑此文章"}}
    {{#if this.isScheduled}}
    <span class="gh-content-status-draft gh-badge nowrap">已计划</span>
    {{/if}}

    {{#if this.isDraft}}
    <span class="gh-content-status-draft gh-badge gh-badge-purple nowrap">草稿</span>
    {{/if}}

    {{#if (and this.isPublished (not this.post.page))}}
    <span class="gh-content-status-published nowrap">已发布</span>
    {{/if}}
{{/link-to}}

{{#link-to "editor.edit" this.post.routeName this.post.id class="permalink gh-list-data gh-post-list-updated" title="编辑此文章"}}
    <span class="nowrap">{{gh-format-post-time this.post.updatedAtUTC draft=true}}</span>
{{/link-to}}

{{#link-to "editor.edit" this.post.routeName this.post.id class="permalink gh-list-data gh-post-list-author" title="编辑此文章"}}
    <span class="gh-content-entry-author">{{this.authorNames}}</span>
{{/link-to}}