<header class="gh-publishmenu-heading">更新 {{post.displayName}} 状态</header>
<section class="gh-publishmenu-content">
    <div class="gh-publishmenu-radio {{if (eq saveType "draft") "active"}}" {{action setSaveType "draft" on="click"}}>
        <div class="gh-publishmenu-radio-button" data-test-publishmenu-unpublished-option></div>
        <div class="gh-publishmenu-radio-content">
            <div class="gh-publishmenu-radio-label">未发布</div>
            <div class="gh-publishmenu-radio-desc">将{{post.displayName}}转为私有草稿</div>
        </div>
    </div>
    <div class="gh-publishmenu-radio {{if (eq saveType "publish") "active"}}" {{action setSaveType "publish" on="click"}}>
        <div class="gh-publishmenu-radio-button" data-test-publishmenu-published-option></div>
        <div class="gh-publishmenu-radio-content">
            <div class="gh-publishmenu-radio-label">已发布</div>
            <div class="gh-publishmenu-radio-desc">公开展示{{post.displayName}}</div>
        </div>
    </div>
</section>
