<span class="gh-select" data-select-text="{{selectedTimezone.label}}" tabindex="0">
    {{one-way-select
        id="activeTimezone"
        name="general[activeTimezone]"
        options=selectableTimezones
        optionValuePath="name"
        optionLabelPath="label"
        value=selectedTimezone
        update=(action "setTimezone")
    }}
    {{svg-jar "arrow-down-small"}}
</span>
{{#if hasTimezoneOverride}}
    <p>您的时区已自动设置为 {{activeTimezone}}.</p>
{{/if}}
<p>当前本地时间为 {{localTime}}</p>
