<div class="theme-validation-container">
    <header class="modal-header">
        <h1 data-test-theme-warnings-title>
            {{#unless this.canActivate}}
                {{this.title}}
            {{else}}
                {{this.title}} 出现 {{#if this.errors}}错误{{else}}警告{{/if}}
            {{/unless}}
        </h1>
    </header>
    <a class="close" href="#" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">关闭</span></a>

    <div class="modal-body">
        {{#if this.fatalErrors}}
            <div>
                <h2 class="mb0 mt4 f5 fw6 red">严重错误</h2>
                <p class="mb2 red">必须修复才能激活此主题</p>
            </div>
            <ul class="pa0" data-test-theme-fatal-errors>
            {{#each this.fatalErrors as |error|}}
                <li class="theme-validation-item theme-fatal-error">
                    {{gh-theme-error-li error=error}}
                </li>
            {{/each}}
            </ul>
        {{/if}}

        {{#if this.errors}}
            <div>
                <h2 class="mb0 mt4 f5 fw6">错误</h2>
                <p class="mb2">强烈建议修复, <span>可能</span> 部分功能受限使用</p>
            </div>

            <ul class="pa0" data-test-theme-errors>
            {{#each this.errors as |error|}}
                <li class="theme-validation-item theme-error">
                    {{gh-theme-error-li error=error}}
                </li>
            {{/each}}
            </ul>
        {{/if}}

        {{#if (and this.warnings (or this.fatalErrors this.errors))}}
            <div>
                <h2 class="mb0 mt4 f5 fw6">警告</h2>
            </div>
        {{/if}}
        {{#if this.warnings}}
            <ul class="pa0" data-test-theme-warnings>
            {{#each this.warnings as |error|}}
                <li class="theme-validation-item theme-warning">
                    {{gh-theme-error-li error=error}}
                </li>
            {{/each}}
            </ul>
        {{/if}}
    </div>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn" data-test-modal-close-button>
        <span>好的</span>
    </button>
</div>
