<header class="modal-header" data-test-modal="delete-user">
    <h1>确认删除此用户吗？</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">关闭</span></a>

<div class="modal-body">
    <p><strong>警告：</strong> 即将删除用户 '<strong>{{user.name}}</strong>'。此操作不可恢复！</p>
    {{#if user.count.posts}}
        <ul>
            <li>此用户将不在能够访问本网站。</li>
            <li>此用户创建的 <strong data-test-text="user-post-count">{{user.count.posts}}</strong> 篇文章将被删除。</li>
            <li>所有其他用户数据将被删除。</li>
        </ul>
    {{else}}
        <ul>
            <li>此用户将不在能够访问本网站。</li>
            <li>所有其他用户数据将被删除。</li>
        </ul>
    {{/if}}
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn" data-test-button="cancel-delete-user">
        <span>取消</span>
    </button>
    {{gh-task-button (if user.count.posts "删除用户及其文章" "删除用户")
        successText="已删除"
        task=deleteUser
        class="gh-btn gh-btn-red gh-btn-icon"
        data-test-button="confirm-delete-user"}}
</div>
