<header class="modal-header">
    <h1>确认删除此标签吗？</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">关闭</span></a>

<div class="modal-body">
    {{#if tag.post_count}}
        <span class="red">此标签关联到文章 {{tag.count.posts}} {{postInflection}}。</span>
    {{/if}}
    你将要删除 "<strong>{{tag.name}}</strong>"。此操作不可恢复，确认码？
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>Cancel</span></button>
    {{gh-task-button "删除" successText="已删除" task=deleteTag class="gh-btn gh-btn-red gh-btn-icon"}}
</div>
