<div class="theme-validation-container">
    <header class="modal-header" data-test-modal="upload-theme">
        <h1>
            {{#if theme}}
                {{#if hasWarningsOrErrors}}
                    上传成功，出现 {{#if validationErrors}}错误{{else}}警告{{/if}}
                {{else}}
                    上传成功！
                {{/if}}
            {{else if (or validationErrors fatalValidationErrors)}}
                无效主题
            {{else}}
                上传一个主题
            {{/if}}
        </h1>
    </header>
    <a class="close" href="#" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Close</span></a>

    <div class="modal-body">
        {{#if theme}}
            {{#if hasWarningsOrErrors}}
                <p>
                    {{#if canActivateTheme}}
                        主题 <strong>"{{themeName}}"</strong> 上传成功，但是发现 {{#if validationErrors}}错误{{else}}警告{{/if}}。您可以激活并使用此主题，但是建议在使用前修复这些 {{#if validationErrors}}错误{{else}}警告{{/if}}。
                    {{else}}
                        主题 <strong>"{{themeName}}"</strong> 上传成功，但是发现
                        {{#if validationErrors}}错误{{else}}警告{{/if}}。
                    {{/if}}
                </p>

                {{#if validationErrors}}
                    <div>
                        <h2 class="mb0 mt4 f5 fw6">错误</h2>
                        <p class="mb2">强烈建议修复，部分功能 <strong>可能</strong> 被限制使用</p>
                    </div>
                    <ul class="pa0">
                    {{#each validationErrors as |error|}}
                        <li class="theme-validation-item theme-error">
                            {{gh-theme-error-li error=error}}
                        </li>
                    {{/each}}
                    </ul>
                {{/if}}

                {{#if validationWarnings}}
                    <div>
                        <h2 class="mb0 mt4 f5 fw6">警告</h2>
                    </div>
                    <ul class="pa0">
                    {{#each validationWarnings as |error|}}
                        <li class="theme-validation-item theme-warning">
                            {{gh-theme-error-li error=error}}
                        </li>
                    {{/each}}
                    </ul>
                {{/if}}
            {{else}}
                <p>
                    "{{themeName}}" 上传成功。
                    {{#if canActivateTheme}}是否现在激活此主题？{{/if}}
                </p>
            {{/if}}
        {{else if displayOverwriteWarning}}
            <p>
                主题目录 <strong>"{{fileThemeName}}"</strong> 已存在，是否要覆盖此目录？
            </p>
        {{else if (or validationErrors fatalValidationErrors)}}

            <p>
                主题无效不能被激活，请修复如下错误并重新上传。
            </p>

            {{#if fatalValidationErrors}}
                <div>
                    <h2 class="mb0 mt4 f5 fw6">严重错误</h2>
                    <p class="mb2">必须修复才能激活主题</p>
                </div>

                <ul class="pa0">
                {{#each fatalValidationErrors as |error|}}
                    <li class="theme-validation-item theme-fatal-error">
                        {{gh-theme-error-li error=error}}
                    </li>
                {{/each}}
                </ul>
            {{/if}}

            {{#if validationErrors}}
                <div>
                    <h2 class="mb0 mt4 f5 fw6">错误</h2>
                    <p class="mb2">强烈建议修复，部分功能 <strong>有可能</strong> 被限制访问</p>
                </div>
                <ul class="pa0">
                {{#each validationErrors as |error|}}
                    <li class="theme-validation-item theme-error">
                        {{gh-theme-error-li error=error}}
                    </li>
                {{/each}}
                </ul>
            {{/if}}
        {{else}}
            {{gh-file-uploader
                url=uploadUrl
                paramName="file"
                accept=accept
                labelText="点击选择或者拖拽你的主题文件zip格式压缩包到这里"
                validate=(action "validateTheme")
                uploadStarted=(action "uploadStarted")
                uploadFinished=(action "uploadFinished")
                uploadSuccess=(action "uploadSuccess")
                uploadFailed=(action "uploadFailed")
                listenTo="themeUploader"}}
        {{/if}}
    </div>
</div>

<div class="modal-footer">
    <div class="flex items-center justify-between {{if (or displayOverwriteWarning canActivateTheme validationErrors fatalValidationErrors) "flex-auto"}}">
        <button {{action "closeModal"}} disabled={{closeDisabled}} class="gh-btn" data-test-close-button>
            <span>{{#if theme}}关闭{{else}}取消{{/if}}</span>
        </button>
        <div class="flex items-center">
            {{#if displayOverwriteWarning}}
                <button {{action "confirmOverwrite"}} class="gh-btn gh-btn-red" data-test-overwrite-button>
                    <span>覆盖</span>
                </button>
            {{/if}}
            {{#if canActivateTheme}}
                <button {{action "activate"}} class="gh-btn" data-test-activate-now-button>
                    <span>{{#if validationErrors}}允许错误并{{/if}}激活</span>
                </button>
            {{/if}}
            {{#if (or validationErrors fatalValidationErrors)}}
                <button {{action "reset"}} class="gh-btn gh-btn-blue ml2" data-test-try-again-button>
                    <span>再试一次</span>
                </button>
            {{/if}}
        </div>
    </div>
</div>
