<header class="modal-header">
    <h1>确定要删除 {{post.displayName}}吗？</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">关闭</span></a>

<div class="modal-body">
    <p>
        你将要删除 "<strong>{{post.title}}</strong>". 此操作不可恢复，确认吗？?
    </p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>Cancel</span></button>
    {{gh-task-button "删除" successText="已删除" task=deletePost class="gh-btn gh-btn-red gh-btn-icon"}}
</div>
