<header class="modal-header">
    <h1>确认删除此会员？</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">关闭</span></a>

<div class="modal-body">
    <p>
        你将要删除会员 "<strong>{{or member.name member.email}}</strong>"。此操作不可恢复，确认吗？
    </p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>Cancel</span></button>
    {{gh-task-button "删除" successText="已删除" task=deleteMember class="gh-btn gh-btn-red gh-btn-icon"}}
</div>