<header>
    <h1>邀请内部成员</h1>
    <p>与其他人分享是最好的工作。协作，收到文章的反馈，&amp; 一起创意。</p>
</header>

<div><img class="gh-flow-faces" src="assets/img/users.png" alt="" /></div>

<form class="gh-flow-invite" {{action "invite" on="submit"}}>
    {{#gh-form-group errors=errors hasValidated=hasValidated property="users"}}
        <label for="users">每行输入一个电子邮箱地址，其他的交给我们！ {{svg-jar "email"}}</label>
        {{gh-textarea
            name="users"
            required="required"
            value=(readonly users)
            input=(action (mut users) value="target.value")
            focus-out=(action "validate")
        }}
    {{/gh-form-group}}

    {{#gh-task-button
        task=invite
        type="submit"
        classNameBindings=":gh-btn :gh-btn-default :gh-btn-lg :gh-btn-block buttonClass"
        successClass=""
        failureClass=""
        as |task|
    }}
        <span>
            {{#if task.isRunning}}
                {{svg-jar "spinner" class="no-margin"}}
            {{else}}
                {{buttonText}}
            {{/if}}
        </span>
    {{/gh-task-button}}
</form>

<button class="gh-flow-skip" {{action "skipInvite"}}>
    稍后再做，西安带我去我的网站！
</button>
